html {
	height:100%;
}
section {
    display: block;
}

.disp-no {
    display: none;
}

body{
	background: url(images/photo.jpg) no-repeat;
	min-width: 200px;
}

html, body{
     height: 100%;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -50px; 
}
.page-wrap:after {
	content: "";
	display: block;
}

body section.footer, .page-wrap:after {
  height: 50px; 
}
body section.footer{
   background: rgba(0, 0, 0, 0.6);
   padding: 0 30px 0 30px;
   color: #9E9E9E;
   font-size: 12px;
}
body section.footer .copyright{
   padding: 15px;
}

.navbar-brand {
    font-size: 26px;
    color: #9E9E9E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	padding: 30px 20px;
	z-index: 100;
}

.navbar-toggle{
	margin: 15px;
}
.navbar-brand span {
    color: #7CB342;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border-color: #7CB342;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: rgba(255,255,255,0.3);      
	border: none;
}
.navbar-default .navbar-collapse.in .navbar-nav>li>a, .navbar-default .navbar-collapse.collapsing .navbar-nav>li>a{
	padding: 10px;
}
h2 {
    font-size: 20px;
    color: #9E9E9E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #EEEEEE;
    background: rgba(0, 0, 0, 0.3);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #EEEEEE;
    background: rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-nav>li>a {
    padding: 30px 20px;
    color: #9E9E9E;
	text-transform: uppercase;
	font-size: 12px;
    -webkit-transition: color linear .2s, background linear .2s;
    -moz-transition: color linear .2s, background linear .2s;
    -o-transition: color linear .2s, background linear .2s;
}

.navbar-default {
    background: rgba(0, 0, 0, 0.6);
	border-color:transparent;
	border-bottom: none;
}
ul.nav .dropdown  li a {
	width:inherit;
    padding: 3px 20px;
    color: #9E9E9E;
}
ul.nav .dropdown  li a:hover, ul.nav .dropdown  li a:focus {
	width:inherit;
    padding: 3px 20px;
    color: #FFFFFF;
	background:none;
}
.nav .dropdown-toggle .caret {
	border-top-color: #9E9E9E;
	border-bottom-color: #9E9E9E;
}

.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
ul.dropdown-menu  {
	width:inherit;
    color: #333333;
	border-radius: 1px;
	border: 0px;
	margin: 0px;
	-webkit-box-shadow: none; 
    -moz-box-shadow: none;
	background: #363636;
	color: #9E9E9E;
}

.navbar {
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}