@import url(https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic);

section.body {
	font-family: 'Open Sans', sans-serif;
}

#form {
    position:relative;
    min-width: 460px;
	background-color: rgba(33,33,33,0.9); 
	border-radius:2px;
}

#form h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	padding: 35px 0 25px 30px;
	color: #9E9E9E;
	margin-bottom: 0px;
    margin-top: 0px;

}

#form fieldset {
    padding: 10px 30px 15px 30px;	
}

#form .form-field {    
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
}

#form input
{
	width:300px;
}

@media (min-width: 1200px) {
	#form input {
		width: 390px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	#form input {
		width: 195px;
	}
}

@media (max-width: 767px) {
	#form input {
		width: 195px;
	}
}

#form select, #form input[type="submit"] {
	width: 100%;
}

#form input, select{
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255,255,255,0.1);   
	color: #E0E0E0;	
	padding: 16px 20px 16px 100px;
	border: none;
	box-shadow: none;
    border-radius:1px;
	margin-bottom: 0px;
}

#form select {  
	height:52px;
}

#form select option{
font-family: 'Open Sans', sans-serif;
    background-color: #555555;     
    background: #555555;
    color:#BDBDBD;

}
#form select option:focus{
	font-family: 'Open Sans', sans-serif;
    background-color: rgba(255,255,255,0.1);      
	border: none;	
}

#form input:hover, #form select:hover {
    background-color: rgba(255,255,255,0.2);
}

#form input:focus, #form select:focus, #form button:focus {
    background-color: rgba(255,255,255,0.2);
    box-shadow: none !important;
    outline:none;
}

#form input:disabled, #form select:disabled, #form button:disabled {
	background-color: rgba(255,255,255,0.1);   
	color: #9E9E9E;	
    box-shadow: none !important;
    outline:none;
}

#form input[type="submit"] {
    background: #558B2F;
	padding: 20px;
    color: #DCEDC8;
    margin: 10px 0 20px 0;
	font-weight: normal;
	text-transform:uppercase;
  	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
    padding-left: 20px;
    box-shadow: none;      
}

#form input[type="submit"]:hover {
    background: #7CB342;
}

#form input[type="submit"]:focus {
    background: #7CB342;
    box-shadow: none !important;
    outline:none;
}

#form input[type="submit"]:disabled {
    background: #424242;
	color: #616161;
    box-shadow: none !important;
    outline:none;
}

#form .mode-switch-container {
    text-align: center;
}

#form .mode-switch {
    color: white;
	padding:10px;
    border: none;
	border-radius:1px;
	font-size: 12px;
	margin: 20px 0px 20px 0px;
	text-transform:uppercase;
}



#form .mode-switch.active {
    background: none;
	background-color: #558B2F;
	color: #DCEDC8;
    cursor: default;
}

#form .mode-switch.inactive {
    background-color: #212121;
	border: 1px solid #202020;
	color: #757575;
}

#form .mode-switch.inactive:hover {
    color: #9E9E9E;
}
#form .mode-switch:disabled, #form .mode-switch:disabled:hover{
    background-color: #212121;
	color: #424242;
}

#form label{
	font-size: 10px;
	text-transform: uppercase;
	position: absolute;
    padding: 15px 0px 16px 10px;
	color: #BDBDBD;

}
#form .loading-scan-param {
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
}


.story {
    background-color: #fff;
    opacity: 0.7;
    padding: 20px;
}

.news {
    background-color: #fff;
    opacity: 0.7;	
    padding: 20px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;	
}

.overlay {
    position:fixed;
	top: 0;
    bottom:0;
    left:0;
    right:0;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
    z-index:3;
}

.overlay-content{
	position: fixed;
	vertical-align: middle;
	text-align: center;
    left:0;
	top:50%;
    right:0;
    z-index:4;
}
.overlay-message{ 
	color: #AAAAAA;
}

.loader {
 z-index:1002;
	top:50%;
	margin: 0 auto 20px;
	display: block;
	width: 60px;
	height: 60px;
	border: 1px solid;
	border-color: #545a6a #d4d4db #d4d4db #545a6a;
	border-radius: 100%;
	opacity: 1;
	-webkit-animation: rotate .6s linear infinite;
	        animation: rotate .6s linear infinite;
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotateZ(-360deg);
		        transform: rotateZ(-360deg);
	}

	100% {
		-webkit-transform: rotateZ(0deg);
		        transform: rotateZ(0deg);
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotateZ(-360deg);
		        transform: rotateZ(-360deg);
	}

	100% {
		-webkit-transform: rotateZ(0deg);
		        transform: rotateZ(0deg);
	}
}